<table class="table" id="article_table">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      {% for x in searched %}
        <tr>
            <td><label id="code">{{x.codigo}}</label></td>
            <td><label id="name">{{x.nombre}}</label></td>
            <td>
              <input type="number" style="width: 57px; height: 30px; text-align: center;" id="input_cantidad" placeholder="0"  min="0" max="100">
            </td>
            <td>
                <label id="precio">{{x.precio}}</label>
            </td>
            <td>
              <input class="form-check-input" type="checkbox" value="" name="checkbox" id="input_check" onclick="addRow()">
            </td>
        </tr>
      {% endfor %}
    </tbody>
</table>