{% load static %}
{% include 'header.html' %}
{% load mathfilters %}
<link rel="stylesheet" href="{% static 'styles-principal.css' %}" >
<link rel="stylesheet" href="{% static 'style_carrousel.css' %}" >

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Supramarket</h1>
        </div>
    </div>
</header>
<!-- Section-->
<center>



    <form action="" method="POST" enctype="multipart/form-data">
        {%csrf_token%}

        {{form.as_p}}
        <input type="submit" value="Submit" class="btn btn-secondary">

    </form>
</center>

<!-- Footer-->
{% include 'footer.html' %}
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Core theme JS-->
<script src="js/scripts.js"></script>