{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'styles-principal.css' %}" >
<link rel="stylesheet" href="{% static 'style_carrousel.css' %}" >

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<h1>hola

</h1>
<!-- Section-->
{% block content %}
{% for articulo in articulo %}

  <tr>
      <th scope="row" class="border-0">
          <div class="p-2">
              <img src="{{ articulo.imagen.url }}" alt="" width="200"
                  style="border-radius: 10px">
              <div class="ml-3 d-inline-block align-middle">
                  <h5 class="mb-0">{{articulo.nombre}}</h5>
              </div>
          </div>
      </th>
      <td class="border-0 align-middle" ><strong>{{product.precio}}</strong></td>
  </tr>
{% endfor %}
{% endblock content %}
<!-- Footer-->
{% include 'footer.html' %}
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Core theme JS-->
<script src="js/scripts.js"></script>